Start Simulator Configuration File:
Version/Phase: 1.05
File Path: metadata5mp.mdf
CPU Scheduling Code: SJF-N
Quantum Time (cycles): 55
Memory Available (KB): 102400
Processor Cycle Time (msec): 10
I/O Cycle Time (msec): 20
Log To:      Both
Log File Path: logfile_1.lgf
End Simulator Configuration File.

